.optionsBox {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.optionsBox > button {
  padding: 10px 30px;

  border: none;
  border-radius: 56px;
  background: #ffd4b8;
  box-shadow: 6px 6px 12px #d9b49c, -6px -6px 12px #fff4d4;

  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.optionsBox > button:hover,
.optionsBox > button:focus {
  background: #ffa8a3;
  box-shadow: inset 6px 6px 12px #d98f8b, inset -6px -6px 12px #ffc1bb;
}
